$default-font: "montserrat", sans-serif;
$title-font: "playfair";
$accent: #998431;
$textcolor: #282828;
$fontsize: 16px;
$whitecolor: #FFFFFF;
$background1: #282828;
$background2: #E6E3C4;
$lineheight: 1.65;